.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #fff;
  transition: 0.3s;
}
.site-header__logo {
  display: flex;
  align-items: center;
  column-gap: 7px;
  cursor: pointer;
  transition: 0.3s;
  svg {
    width: 37px;
    height: 37px;
    transition: 0.3s;
  }
  h2 {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    transition: 0.3s;
  }
  &:hover {
    svg {
      color: blueviolet;
    }
    h2 {
      color: blueviolet;
    }
    transition: 0.3s;
  }
}
.site-header__block {
  padding-top: 25px;
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}
.site-header__list {
  display: flex;
  align-items: center;
  column-gap: 70px;
  transition: 0.3s;
}
.site-header__item {
  a {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    padding-bottom: 3px;
    transition: 0.3s;
    &:hover {
      color: blueviolet;
      transition: 0.3s;
    }
  }
  .active {
    border-bottom: 2px solid #000;
    transition: 0.3s;
  }
}
.site-header__item:nth-child(1) svg {
  width: 27px;
  height: 27px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: blueviolet;
    transition: 0.3s;
  }
}
.site-header__menu-logo {
  display: none;
  transition: 0.3s;
}
.site-header__menu-logo svg {
  transition: 0.3s;
}
.site-header__menu-list {
  max-width: 240px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 55px;
  padding-top: 25px;
  // background: #232536;
  background: #000;
  backdrop-filter: blur(11px);
  transform: translateX(-101%);
  transition: 0.3s;
}
.menu__key {
  transform: translateX(0);
  transition: 0.3s;
}
.site-header__menu-item:nth-child(1) {
  display: flex;
  align-items: center;
  column-gap: 7px;
  transition: 0.3s;
  svg {
    width: 32px;
    height: 32px;
    color: #fff;
  }
  h2 {
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
  }
  &:hover {
    svg {
      color: blueviolet;
    }
    h2 {
      color: blueviolet;
    }
  }
}
.site-header__menu-item {
  cursor: pointer;
  a {
    font-family: Poppins;
    font-size: 15.7px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 3px;
    transition: 0.3s;
    &:hover {
      color: blueviolet;
      transition: 0.3s;
    }
  }
  .active {
    border-bottom: 1.5px solid #fff;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 860px) {
  .site-header__logo {
    svg {
      width: 32px;
      height: 32px;
      transition: 0.3s;
    }
    h2 {
      font-size: 19px;
      transition: 0.3s;
    }
  }
  .site-header__list {
    column-gap: 55px;
    transition: 0.3s;
  }
  .site-header__item {
    a {
      font-size: 15.7px;
      transition: 0.3s;
    }
    .active {
      border-bottom: 1.5px solid #000;
      transition: 0.3s;
    }
  }
  .site-header__item:nth-child(1) svg {
    width: 26px;
    height: 26px;
    transition: 0.3s;
  }
}
@media only screen and (max-width: 740px) {
  .site-header__list {
    column-gap: 40px;
    transition: 0.3s;
  }
}
@media only screen and (max-width: 660px) {
  .site-header__item:nth-child(2) {
    display: none;
    transition: 0.3s;
  }
  .site-header__item:nth-child(3) {
    display: none;
    transition: 0.3s;
  }
  .site-header__item:nth-child(4) {
    display: none;
    transition: 0.3s;
  }
  .site-header__item:nth-child(5) {
    display: none;
    transition: 0.3s;
  }
  .site-header__menu-logo {
    display: inline-block;
    transition: 0.3s;
    svg {
      width: 30px;
      height: 30px;
      transition: 0.3s;
    }
  }
}
