.dark {
  .site-header {
    background: #000;
    transition: 0.2s;
  }
  .site-header__logo {
    h2,
    svg {
      color: #fff;
      transition: 0.1s;
    }
    &:hover {
      svg {
        color: blueviolet;
      }
      h2 {
        color: blueviolet;
      }
      transition: 0.3s;
    }
  }
  .site-header__item {
    a {
      color: #fff;
      transition: 0.1s;
      &:hover {
        color: blueviolet;
      }
    }
  }
  .site-header__item:nth-child(1) svg {
    color: #fff;
    transition: 0.1s;
    &:hover {
      color: blueviolet;
      transition: 0.3s;
    }
  }
  .site-header__menu-logo svg {
    color: #fff;
    transition: 0.1s;
  }
  .site-header__menu-list {
    background: #000;
    transition: 0.1s;
  }
  .site-header__menu-item:nth-child(1) {
    svg {
      color: #fff;
    }
    h2 {
      color: #fff;
    }
    &:hover {
      svg {
        color: blueviolet;
      }
      h2 {
        color: blueviolet;
      }
    }
    transition: 0.3s;
  }
  .site-header__menu-item {
    a {
      color: #fff;
      transition: 0.3s;
      &:hover {
        color: blueviolet;
      }
    }
  }
  .login {
    background: #000;
    transition: 0.1s;
  }
  .login__block {
    .login__text {
      color: #fff;
      transition: 0.1s;
    }
    .login__title {
      color: blue;
      transition: 0.1s;
    }
  }
  .login__form-control {
    label {
      color: #fff;
      transition: 0.1s;
    }
    input {
      background: #000;
      color: #fff;
      transition: 0.1s;
      &::placeholder {
        color: #fff;
      }
    }
  }

  .signUp {
    background: #000;
    transition: 0.1s;
  }
  .signUp__block {
    .signUp__text {
      color: #fff;
      transition: 0.1s;
    }
    .signUp__title {
      color: blueviolet;
      transition: 0.1s;
    }
  }
  .signUp__form-control {
    label {
      color: #fff;
      transition: 0.1s;
    }
    input {
      background: #000;
      color: #fff;
      transition: 0.1s;
      &::placeholder {
        color: #fff;
      }
    }
  }
}
