html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}
.dark {
  .site-header {
    background: #000;
    border-bottom: 1px solid #232536;
    transition: 0.2s;
  }
  .site-header__logo svg,
  h2 {
    color: #fff;
    transition: 0.1s;
  }
  .site-header__item {
    a {
      color: #fff;
      transition: 0.1s;
    }
    .active {
      border-bottom: 2px solid #fff;
    }
  }
  .site-header__item:nth-child(1) svg {
    color: #fff;
    transition: 0.1s;
  }
  .site-header__menu-logo svg {
    color: #fff;
    transition: 0.1s;
  }
  .site-header__menu-list {
    background: #000;
    transition: 0.1s;
  }
  .site-header__menu-item:nth-child(1) {
    svg {
      color: #fff;
    }
    h2 {
      color: #fff;
    }
    transition: 0.3s;
  }
  .site-header__menu-item {
    a {
      color: #fff;
      transition: 0.3s;
    }
    .active {
      border-bottom: 1.5px solid #fff;
      transition: 0.3s;
    }
  }
  .login {
    background: #000;
    transition: 0.1s;
  }
  .login__block {
    .login__text {
      color: #fff;
      transition: 0.1s;
    }
    .login__title {
      color: blue;
      transition: 0.1s;
    }
  }
  .login__form-control {
    label {
      color: #fff;
      transition: 0.1s;
    }
    input {
      background: #000;
      transition: 0.1s;
    }
  }

  .signUp {
    background: #000;
    transition: 0.1s;
  }
  .signUp__block {
    .signUp__text {
      color: #fff;
      transition: 0.1s;
    }
    .signUp__title {
      color: blueviolet;
      transition: 0.1s;
    }
  }
  .signUp__form-control {
    label {
      color: #fff;
      transition: 0.1s;
    }
    input {
      background: #000;
      transition: 0.1s;
    }
  }
}
